/For reference
/Lab
DA 2 on document preparation 13.04.2021.docx
DPPM DA-1.docx
DPPM DA-2.docx
DPPM Final Report.docx
MEE3502 -PDM-2.docx
Quiz.docx
/Assembly - Analysis
Assembly - Analysis-Static 1.BD2
Assembly - Analysis-Static 1.BDF
Assembly - Analysis-Static 1.CWR
Assembly - Analysis-Static 1.MFC
Assembly - Analysis-Static 1.SL4
Assembly-Static 1.CWR
DPPM Final Report.docx
DPPM Final Report.pdf
/Assembly - Analysis-Static 1
/cache
DPPM Final Report - New.docx
Calculations.jpg
*.pptx
DPPM Slicing (J-Comp).docx
*.svpj
*.LOG
PerformanceLog.txt
*.CWR
*.par
*.idx
*.vdm
*.vtm